.pagination{

    margin-top:25px;

    display:flex;

    justify-content:center;

    gap:10px;

}

.pagination button{

    width:38px;

    height:38px;

    border:none;

    background:#eee;

    border-radius:6px;

    cursor:pointer;

}

.pagination button.active{

    background:#2196f3;

    color:#fff;

}